AVR_Net_IO_controll
[{"id":"c384a6e3.47c0b8","type":"template","z":"141f5007.e8a45","name":"Write LCD Luftfeuchte","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"writelcd 2. Hum: {{payload}}%","output":"str","x":560,"y":160,"wires":[["563021b8.5856f","4327e627.cebd98"]]},{"id":"4fc4526.32f1fac","type":"template","z":"141f5007.e8a45","name":"Write LCD Temperatur","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"writelcd 1. Temp: {{payload}}C","output":"str","x":560,"y":120,"wires":[["563021b8.5856f","4327e627.cebd98"]]},{"id":"4327e627.cebd98","type":"tcp out","z":"141f5007.e8a45","host":"192.168.178.165","port":"50290","beserver":"client","base64":false,"end":false,"name":"an AVR Net IO","x":830,"y":120,"wires":[]},{"id":"563021b8.5856f","type":"tcp request","z":"141f5007.e8a45","server":"192.168.178.165","port":"50290","out":"time","splitc":"1000","name":"von AVR Net IO","x":580,"y":220,"wires":[["dfc2cda1.a59ea"]]},{"id":"dfc2cda1.a59ea","type":"debug","z":"141f5007.e8a45","name":"AVR Net","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":220,"wires":[]},{"id":"3892ad99.31c962","type":"inject","z":"141f5007.e8a45","name":"test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":410,"y":40,"wires":[["4fc4526.32f1fac","c384a6e3.47c0b8"]]},{"id":"3ca4709e.bcae4","type":"inject","z":"141f5007.e8a45","name":"An AVRNet DI1","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GETPORT 1","payloadType":"str","x":490,"y":320,"wires":[["d0b691ae.ed8a3"]]},{"id":"d0b691ae.ed8a3","type":"tcp request","z":"141f5007.e8a45","server":"192.168.178.165","port":"50290","out":"time","splitc":"1000","name":"von AVR Net IO","x":700,"y":320,"wires":[["2a334f8d.197db","b5a2c0cf.81398","48d93e2.b0a48c","dfc2cda1.a59ea"]]},{"id":"2a334f8d.197db","type":"mqtt out","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DI1","qos":"","retain":"","broker":"d839e29f.e6bf","x":930,"y":320,"wires":[]},{"id":"66119f8d.0d50f","type":"inject","z":"141f5007.e8a45","name":"An AVRNet DI2","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GETPORT 2","payloadType":"str","x":490,"y":360,"wires":[["a7c6e01c.e1bf3"]]},{"id":"a7c6e01c.e1bf3","type":"tcp request","z":"141f5007.e8a45","server":"192.168.178.165","port":"50290","out":"time","splitc":"1000","name":"von AVR Net IO","x":700,"y":360,"wires":[["1b8365b5.8d725a","dfc2cda1.a59ea"]]},{"id":"1b8365b5.8d725a","type":"mqtt out","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DI2","qos":"","retain":"","broker":"d839e29f.e6bf","x":930,"y":360,"wires":[]},{"id":"501e6dd9.674e34","type":"inject","z":"141f5007.e8a45","name":"An AVRNet DI3","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GETPORT 3","payloadType":"str","x":490,"y":400,"wires":[["c5d1811c.d387d"]]},{"id":"c5d1811c.d387d","type":"tcp request","z":"141f5007.e8a45","server":"192.168.178.165","port":"50290","out":"time","splitc":"1000","name":"von AVR Net IO","x":700,"y":400,"wires":[["a32f486e.1eada8","dfc2cda1.a59ea"]]},{"id":"a32f486e.1eada8","type":"mqtt out","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DI3","qos":"","retain":"","broker":"d839e29f.e6bf","x":930,"y":400,"wires":[]},{"id":"4432d846.5411e8","type":"inject","z":"141f5007.e8a45","name":"An AVRNet DI4","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GETPORT 4","payloadType":"str","x":490,"y":440,"wires":[["4217d94a.d25e18"]]},{"id":"4217d94a.d25e18","type":"tcp request","z":"141f5007.e8a45","server":"192.168.178.165","port":"50290","out":"time","splitc":"1000","name":"von AVR Net IO","x":700,"y":440,"wires":[["6a3b62d8.d2863c","dfc2cda1.a59ea"]]},{"id":"6a3b62d8.d2863c","type":"mqtt out","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DI4","qos":"","retain":"","broker":"d839e29f.e6bf","x":930,"y":440,"wires":[]},{"id":"a905062f.ffd358","type":"comment","z":"141f5007.e8a45","name":"AVR Net IO Digital IN","info":"","x":480,"y":280,"wires":[]},{"id":"9bb48081.8e043","type":"template","z":"141f5007.e8a45","name":"An AVRNet DO 1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"if (msg.payload === true){\n    setport 1.1\n}else if(msg.payload === false){\n    setport 1.0\n}\n\n","output":"str","x":770,"y":540,"wires":[["6fb1aff2.607fc"]]},{"id":"f64c84e1.818f88","type":"mqtt in","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DO1","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":430,"y":540,"wires":[["6115781a.797ff8"]]},{"id":"6115781a.797ff8","type":"ui_switch","z":"141f5007.e8a45","name":"","label":"DO 1","tooltip":"","group":"c5333f26.f3fd2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":540,"wires":[["9bb48081.8e043"]]},{"id":"6fb1aff2.607fc","type":"tcp out","z":"141f5007.e8a45","host":"192.168.178.165","port":"50290","beserver":"client","base64":false,"end":false,"name":"an AVR Net IO","x":1020,"y":640,"wires":[]},{"id":"674fa17d.fb5d","type":"template","z":"141f5007.e8a45","name":"An AVRNet DO 2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"setport 2.{{payload}}","output":"str","x":770,"y":580,"wires":[["6fb1aff2.607fc"]]},{"id":"a337e09e.5a2a6","type":"mqtt in","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DO2","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":430,"y":580,"wires":[["5ba0584.7e92da8"]]},{"id":"5ba0584.7e92da8","type":"ui_switch","z":"141f5007.e8a45","name":"","label":"DO 2","tooltip":"","group":"c5333f26.f3fd2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":580,"wires":[["674fa17d.fb5d"]]},{"id":"9400e9c.01fd318","type":"template","z":"141f5007.e8a45","name":"An AVRNet DO 3","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"setport 3.{{payload}}","output":"str","x":770,"y":620,"wires":[["6fb1aff2.607fc"]]},{"id":"b2eed1f5.efaaa","type":"mqtt in","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DO3","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":430,"y":620,"wires":[["48a1afe6.d5b93"]]},{"id":"48a1afe6.d5b93","type":"ui_switch","z":"141f5007.e8a45","name":"","label":"DO 3","tooltip":"","group":"c5333f26.f3fd2","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":620,"wires":[["9400e9c.01fd318"]]},{"id":"b24c1e90.53ef4","type":"template","z":"141f5007.e8a45","name":"An AVRNet DO 4","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"setport 4.{{payload}}","output":"str","x":770,"y":660,"wires":[["6fb1aff2.607fc"]]},{"id":"eada3420.8515d8","type":"mqtt in","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DO4","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":430,"y":660,"wires":[["9cf2d589.2cb3b8"]]},{"id":"9cf2d589.2cb3b8","type":"ui_switch","z":"141f5007.e8a45","name":"","label":"DO 4","tooltip":"","group":"c5333f26.f3fd2","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":660,"wires":[["b24c1e90.53ef4"]]},{"id":"bf21cd92.530c4","type":"template","z":"141f5007.e8a45","name":"An AVRNet DO 5","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"setport 5.{{payload}}","output":"str","x":770,"y":700,"wires":[["6fb1aff2.607fc"]]},{"id":"a623030c.39f2a","type":"mqtt in","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DO5","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":430,"y":700,"wires":[["fd0433c8.10dfc"]]},{"id":"fd0433c8.10dfc","type":"ui_switch","z":"141f5007.e8a45","name":"","label":"DO 5","tooltip":"","group":"c5333f26.f3fd2","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":700,"wires":[["bf21cd92.530c4"]]},{"id":"a34ffbf1.2e7d38","type":"template","z":"141f5007.e8a45","name":"An AVRNet DO 6","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"setport 6.{{payload}}","output":"str","x":770,"y":740,"wires":[["6fb1aff2.607fc"]]},{"id":"77434252.9a077c","type":"mqtt in","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DO6","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":430,"y":740,"wires":[["feaf1655.48dcb8"]]},{"id":"feaf1655.48dcb8","type":"ui_switch","z":"141f5007.e8a45","name":"","label":"DO 6","tooltip":"","group":"c5333f26.f3fd2","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":740,"wires":[["a34ffbf1.2e7d38"]]},{"id":"10872133.c5dccf","type":"template","z":"141f5007.e8a45","name":"An AVRNet DO 7","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"setport 7.{{payload}}","output":"str","x":770,"y":780,"wires":[["6fb1aff2.607fc"]]},{"id":"3cc0cda6.945ad2","type":"mqtt in","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DO7","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":430,"y":780,"wires":[["c58c31d3.d20aa"]]},{"id":"c58c31d3.d20aa","type":"ui_switch","z":"141f5007.e8a45","name":"","label":"DO 7","tooltip":"","group":"c5333f26.f3fd2","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":780,"wires":[["10872133.c5dccf"]]},{"id":"e5777838.927a38","type":"template","z":"141f5007.e8a45","name":"An AVRNet DO 8","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"setport 8.{{payload}}","output":"str","x":770,"y":820,"wires":[["6fb1aff2.607fc"]]},{"id":"4e7eaedd.bd703","type":"mqtt in","z":"141f5007.e8a45","name":"","topic":"/home/Bus/AVRNetIO/DO8","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":430,"y":820,"wires":[["6e0dc58a.9a802c"]]},{"id":"6e0dc58a.9a802c","type":"ui_switch","z":"141f5007.e8a45","name":"","label":"DO 8","tooltip":"","group":"c5333f26.f3fd2","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":820,"wires":[["e5777838.927a38"]]},{"id":"b5a2c0cf.81398","type":"ui_colour_picker","z":"141f5007.e8a45","name":"","label":"IN 1","group":"c5333f26.f3fd2","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":9,"width":0,"height":0,"passthru":true,"topic":"","x":1210,"y":240,"wires":[[]]},{"id":"48d93e2.b0a48c","type":"ui_ui-light","z":"141f5007.e8a45","action":"set","actionType":"str","write":"payload","writeType":"msg","name":"","group":"c5333f26.f3fd2","order":10,"width":0,"height":0,"x":1210,"y":280,"wires":[[]]},{"id":"e2eea23a.9b455","type":"inject","z":"141f5007.e8a45","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1010,"y":220,"wires":[["48d93e2.b0a48c"]]},{"id":"ad6bb601.09c938","type":"link in","z":"141f5007.e8a45","name":"LCDoben","links":["ef066d40.618e4"],"x":395,"y":120,"wires":[["4fc4526.32f1fac","1e21491d.c32627"]]},{"id":"1e21491d.c32627","type":"debug","z":"141f5007.e8a45","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":60,"wires":[]},{"id":"9f5b795f.4575d8","type":"link in","z":"141f5007.e8a45","name":"","links":["42da1cf1.906f74"],"x":395,"y":160,"wires":[["c384a6e3.47c0b8"]]},{"id":"d839e29f.e6bf","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5333f26.f3fd2","type":"ui_group","name":"AVR Net IO","tab":"93b7b09f.8a2b7","order":2,"disp":true,"width":"4","collapse":false},{"id":"93b7b09f.8a2b7","type":"ui_tab","name":"IO_Controll","icon":"dashboard","disabled":false,"hidden":false}]
