CalcTimeDifferent
[{"id":"cc8f96a1.0e37e8","type":"ui_numeric","z":"9b64ffe.e6fb5","name":"va","label":"va","tooltip":"","group":"45117b08.b7878c","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"va","format":"{{value}}","min":0,"max":10,"step":1,"x":250,"y":240,"wires":[["e4004fd6.742f6"]]},{"id":"5fe50102.0ed14","type":"ui_numeric","z":"9b64ffe.e6fb5","name":"vb","label":"vb","tooltip":"","group":"45117b08.b7878c","order":11,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"vb","format":"{{value}}","min":0,"max":10,"step":1,"x":250,"y":300,"wires":[["e4004fd6.742f6"]]},{"id":"e4004fd6.742f6","type":"function","z":"9b64ffe.e6fb5","name":"Minus","func":"\n\nif (msg.topic === \"va\"){\n    VarA = msg.payload\n}\nelse if (msg.topic === \"vb\"){\n    VarB = msg.payload\n}\n\nif (VarA < VarB){\n    msg.payload = VarB - VarA; \n}else if(VarA > VarB){\n    msg.payload = VarA - VarB; \n}else{\n    msg.payload = VarA - VarB; \n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":280,"wires":[["dfb84d89.3ad0e8"]]},{"id":"cedef97d.cd49c","type":"ui_text","z":"9b64ffe.e6fb5","group":"45117b08.b7878c","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":380,"wires":[]},{"id":"acab95c7.9568a","type":"mqtt out","z":"9b64ffe.e6fb5","name":"","topic":"/test/time","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d839e29f.e6bf","x":580,"y":180,"wires":[]},{"id":"2377638b.a7a32c","type":"delay","z":"9b64ffe.e6fb5","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":180,"wires":[["acab95c7.9568a"]]},{"id":"dfb84d89.3ad0e8","type":"function","z":"9b64ffe.e6fb5","name":"ZeitUmrechnung","func":"if (msg.payload > 86400000){\n    VarA = msg.payload/86400000\n    msg.payload = Number(VarA.toFixed(3)) + \" t\";\n}else if (msg.payload > 3600000){\n    VarA = msg.payload/3600000\n    msg.payload = Number(VarA.toFixed(2)) + \" h\";\n}else if (msg.payload > 60000){\n    VarA = msg.payload/60000\n    msg.payload = Number(VarA.toFixed(2)) + \" m\";\n}else{\n    VarA = msg.payload/1000\n    msg.payload = Number(VarA.toFixed(1)) + \" s\";\n}\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":320,"wires":[["cedef97d.cd49c"]]},{"id":"36eea4bd.9f9fdc","type":"inject","z":"9b64ffe.e6fb5","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["2377638b.a7a32c","cc8f96a1.0e37e8"]]},{"id":"3ecfce23.bfbd52","type":"mqtt in","z":"9b64ffe.e6fb5","name":"","topic":"/test/time","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","nl":false,"rap":false,"x":120,"y":280,"wires":[["5fe50102.0ed14"]]},{"id":"45117b08.b7878c","type":"ui_group","name":"test","tab":"257b48eb.5db25","order":1,"disp":true,"width":"6","collapse":false},{"id":"d839e29f.e6bf","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"257b48eb.5db25","type":"ui_tab","name":"Spielwiese","icon":"dashboard","disabled":false,"hidden":false}]
