OPC-UA_ServerClientReadWrite
[{"id":"169f20bf.9e4867","type":"OpcUa-Server","z":"9b64ffe.e6fb5","port":"4840","name":"Home","endpoint":"opc.tcp://Value:4840","users":"users.json","nodesetDir":"","autoAcceptUnknownCertificate":true,"registerToDiscovery":false,"constructDefaultAddressSpace":true,"allowAnonymous":true,"endpointNone":true,"endpointSign":true,"endpointSignEncrypt":true,"endpointBasic128Rsa15":true,"endpointBasic256":true,"endpointBasic256Sha256":true,"maxNodesPerBrowse":0,"maxNodesPerHistoryReadData":0,"maxNodesPerHistoryReadEvents":0,"maxNodesPerHistoryUpdateData":0,"maxNodesPerRead":0,"maxNodesPerWrite":0,"maxNodesPerMethodCall":0,"maxNodesPerRegisterNodes":0,"maxNodesPerNodeManagement":0,"maxMonitoredItemsPerCall":0,"maxNodesPerHistoryUpdateEvents":0,"maxNodesPerTranslateBrowsePathsToNodeIds":0,"x":1350,"y":100,"wires":[["ffe39792.6fdc9"]]},{"id":"45e43971.3f19a8","type":"inject","z":"9b64ffe.e6fb5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":910,"y":100,"wires":[["dc6e56ea.63e74"]]},{"id":"96ae48fe.5772b","type":"OpcUa-Client","z":"9b64ffe.e6fb5","endpoint":"dde0241f.08e4c8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"ValueRead","x":1270,"y":440,"wires":[["641e19f2.154ea8"]]},{"id":"43467c32.fa20d4","type":"OpcUa-Item","z":"9b64ffe.e6fb5","item":"ns=4;s=Wert;datatype=Int32","datatype":"Int32","value":"","name":"definiere NodeID","x":1090,"y":300,"wires":[["7883253b.913384"]]},{"id":"dc6e56ea.63e74","type":"function","z":"9b64ffe.e6fb5","name":"OPC_Add_Folder","func":"msg.payload = {opcuaCommand: \"addFolder\"}\nmsg.topic = \"ns=1;s=Value\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":100,"wires":[["ffe39792.6fdc9","169f20bf.9e4867"]]},{"id":"ffe39792.6fdc9","type":"debug","z":"9b64ffe.e6fb5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1510,"y":200,"wires":[]},{"id":"c4421fe5.95be5","type":"function","z":"9b64ffe.e6fb5","name":"OPC_Add_Variable","func":"msg.payload = {opcuaCommand: \"addVariable\"}\nmsg.topic = \"ns=4;s=Wert;datatype=Int32\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":160,"wires":[["169f20bf.9e4867","ffe39792.6fdc9"]]},{"id":"79d2a27c.e060bc","type":"inject","z":"9b64ffe.e6fb5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"true","payloadType":"bool","x":910,"y":160,"wires":[["c4421fe5.95be5","43cfc2c1.4fb2c4"]]},{"id":"5aa331a3.9b8928","type":"inject","z":"9b64ffe.e6fb5","name":"WertOnly","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"23","payloadType":"num","x":920,"y":300,"wires":[["43467c32.fa20d4"]]},{"id":"7883253b.913384","type":"OpcUa-Client","z":"9b64ffe.e6fb5","endpoint":"dde0241f.08e4c8","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"/Value/Wert","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Valuewrite","x":1270,"y":300,"wires":[["ffe39792.6fdc9"]]},{"id":"d909a6a1.50743","type":"inject","z":"9b64ffe.e6fb5","name":"AllaSiemens","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;s=Wert;datatype=Int32","payload":"42","payloadType":"num","x":930,"y":360,"wires":[["393f5231.df9f86"]]},{"id":"393f5231.df9f86","type":"OpcUa-Client","z":"9b64ffe.e6fb5","endpoint":"dde0241f.08e4c8","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"Wert","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Valuewrite","x":1270,"y":360,"wires":[["ffe39792.6fdc9"]]},{"id":"5bf3bdd4.6b0cac","type":"comment","z":"9b64ffe.e6fb5","name":"Fehler bei OPC ","info":"Aus irgeneinen Grund muss nach jeden Deploy der \"OPC_Add_Variable\" ausgeführt werder, noch nicht Automatisiert. wenn nicht gibt es Fehler","x":1100,"y":200,"wires":[]},{"id":"c411bec7.55bfc","type":"comment","z":"9b64ffe.e6fb5","name":"Wert Schreiben","info":"es scheint 2 wege zu geben:\n1. nur den Wert rein zu schreiben, hierbei wird im \"OPCUA-Item\" ein Topic definiert und als NodeID angehangen. im Client muss denn nurnoch die Variable und Pfad genannt werden. Die NodeID/Topic kann wie folgt aussehen: ns=4;s=Wert;datatype=Int32\n2. hier wird die NodeID bereit beim schreiben der Variable als Topic angehangen. Siehe hierzu auch: https://www.automation.siemens.com/sce-static/learning-training-documents/tia-portal/advanced-communication/sce-092-303-opc-ua-s7-1500-node-red-de.pdf","x":1100,"y":340,"wires":[]},{"id":"4863e386.3553dc","type":"comment","z":"9b64ffe.e6fb5","name":"ServerKonf","info":"Port: 4840\nURL: opc.tcp://192.168.0.24:4840\noder opc.tcp://Value:4840\nim Client muss (glaube) die IP Adresse verwendet werden","x":1510,"y":120,"wires":[]},{"id":"641e19f2.154ea8","type":"ui_gauge","z":"9b64ffe.e6fb5","name":"Original","group":"527d2c5a.8a747c","order":1,"width":0,"height":0,"gtype":"gage","title":"Original","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":440,"wires":[]},{"id":"2298e84.6de3098","type":"inject","z":"9b64ffe.e6fb5","name":"aktualisieren","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;s=Wert;datatype=Int32","payload":"","payloadType":"date","x":940,"y":440,"wires":[["96ae48fe.5772b"]]},{"id":"43cfc2c1.4fb2c4","type":"function","z":"9b64ffe.e6fb5","name":"OPC_Add_Variable","func":"msg.payload = {opcuaCommand: \"addVariable\"}\nmsg.topic = \"ns=4;s=WertZwei;datatype=Int32\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":240,"wires":[["169f20bf.9e4867","ffe39792.6fdc9"]]},{"id":"874480c0.05c4b8","type":"inject","z":"9b64ffe.e6fb5","name":"AllaSiemens","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2.1","topic":"ns=4;s=WertZwei;datatype=Int32","payload":"1","payloadType":"num","x":930,"y":400,"wires":[["393f5231.df9f86"]]},{"id":"5879013a.895698","type":"ui_gauge","z":"9b64ffe.e6fb5","name":"IBH","group":"527d2c5a.8a747c","order":0,"width":0,"height":0,"gtype":"gage","title":"ibh beschreiben","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1550,"y":480,"wires":[]},{"id":"91f96201.b5cdc","type":"OpcUa-Client","z":"9b64ffe.e6fb5","endpoint":"dde0241f.08e4c8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"ValueRead","x":1270,"y":480,"wires":[["5879013a.895698"]]},{"id":"cb547ca8.fc8798","type":"inject","z":"9b64ffe.e6fb5","name":"aktualisieren","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;s=WertZwei;datatype=Int32","payload":"","payloadType":"date","x":940,"y":480,"wires":[["91f96201.b5cdc"]]},{"id":"dde0241f.08e4c8","type":"OpcUa-Endpoint","endpoint":"opc.tcp://127.0.0.1:4840","secpol":"None","secmode":"None","login":false},{"id":"527d2c5a.8a747c","type":"ui_group","name":"OPC","tab":"257b48eb.5db25","order":2,"disp":true,"width":"6","collapse":false},{"id":"257b48eb.5db25","type":"ui_tab","name":"Spielwiese","icon":"dashboard","disabled":false,"hidden":false}]
