RCswitch
[{"id":"3a095a8c.954aa6","type":"exec","z":"ca467bd7.696988","command":"python3 /home/pi/rcs_senden.py ","addpay":"payload","append":"arg1","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":760,"wires":[[],[],[]]},{"id":"c26d6e61.13429","type":"inject","z":"ca467bd7.696988","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Aon","payloadType":"str","x":290,"y":300,"wires":[["3a095a8c.954aa6"]]},{"id":"b89302ac.0ad4f","type":"inject","z":"ca467bd7.696988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Aoff","payloadType":"str","x":290,"y":380,"wires":[["3a095a8c.954aa6"]]},{"id":"c05c22e4.38d56","type":"inject","z":"ca467bd7.696988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Bon","payloadType":"str","x":290,"y":460,"wires":[["3a095a8c.954aa6"]]},{"id":"cbe16df.c7fb49","type":"inject","z":"ca467bd7.696988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Boff","payloadType":"str","x":290,"y":540,"wires":[["3a095a8c.954aa6"]]},{"id":"e52dbe2a.380e2","type":"ui_button","z":"ca467bd7.696988","name":"A ON","group":"9c010036.a8bd3","order":1,"width":3,"height":1,"passthru":false,"label":"Fernseher An","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Aon","payloadType":"str","topic":"","x":290,"y":260,"wires":[["3a095a8c.954aa6"]]},{"id":"eb98e763.bc2868","type":"ui_button","z":"ca467bd7.696988","name":"A Off","group":"9c010036.a8bd3","order":2,"width":3,"height":1,"passthru":false,"label":"Fernseher Aus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Aoff","payloadType":"str","topic":"","x":290,"y":340,"wires":[["3a095a8c.954aa6"]]},{"id":"eea4598a.73cf08","type":"ui_button","z":"ca467bd7.696988","name":"B ON","group":"9c010036.a8bd3","order":3,"width":3,"height":1,"passthru":false,"label":"Licht An","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Bon","payloadType":"str","topic":"","x":290,"y":420,"wires":[["3a095a8c.954aa6"]]},{"id":"b3097d6c.b878c","type":"ui_button","z":"ca467bd7.696988","name":"B OFF","group":"9c010036.a8bd3","order":4,"width":3,"height":1,"passthru":false,"label":"Licht AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Boff","payloadType":"str","topic":"","x":290,"y":500,"wires":[["3a095a8c.954aa6"]]},{"id":"1dfd0430.a23f6c","type":"inject","z":"ca467bd7.696988","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Con","payloadType":"str","x":290,"y":760,"wires":[["3a095a8c.954aa6"]]},{"id":"d5249e48.c4c1b","type":"inject","z":"ca467bd7.696988","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Coff","payloadType":"str","x":290,"y":820,"wires":[["3a095a8c.954aa6"]]},{"id":"3b242448.8cf5cc","type":"inject","z":"ca467bd7.696988","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Don","payloadType":"str","x":290,"y":880,"wires":[["3a095a8c.954aa6"]]},{"id":"43005344.a5efcc","type":"inject","z":"ca467bd7.696988","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Doff","payloadType":"str","x":290,"y":940,"wires":[["3a095a8c.954aa6"]]},{"id":"49b81d11.187504","type":"comment","z":"ca467bd7.696988","name":"Not Used","info":"Steckdosen werden noch nicht verwendet,\nder Code ist momentan noch auskommentiert","x":140,"y":760,"wires":[]},{"id":"fdbe1748.5ece18","type":"comment","z":"ca467bd7.696988","name":"rcs-sender.py code","info":"\"\"\"\ndient als sender des RCSwitch, um die Funksteckdosen zu steuern\nwird von Node Red aus aufgerufen\nbenötigt Python 3!\n\nAutor: AL\nVersion 16.08.20\n\"\"\"\n\nfrom rpi_rf import RFDevice # Libary für rcswitch\nimport sys  # Variable Werte koennen in Programm uebertragen werden\n\nrfdevice = RFDevice(17) # GPIO pi\nrfdevice.enable_tx()\n\nstate = \"Aoff\" # default wert\ntry:\n    state = sys.argv[1] # versucht uebertragenen wert zu lesen, sonst default wert\nexcept:\n    state = \"Moff\"\n#input(\"Xon or Xoff (A,B,C,D): \")\n\nfor a in range(1,4): # wiederholt den zyklus 3x um sicher zu gehen\n    print (\"durchlauf: \",a)\n    if state == \"Aoff\":\n        print(\"A aus\")\n        rfdevice.tx_code(4118572, 3, 101)\n    \n    elif state == \"Aon\":\n        print(\"A an\")\n        rfdevice.tx_code(3151788, 3, 101)\n    \n    elif state == \"Boff\":\n        print(\"B aus\")\n        rfdevice.tx_code(3995205, 3, 101)\n    \n    elif state == \"Bon\":\n        print(\"B an\")\n        rfdevice.tx_code(4168949, 3, 101)\n        \n    elif state == \"Moff\":\n        print(\"M aus\")\n        rfdevice.tx_code(3522578, 3, 101)\n    \n    elif state == \"Mon\":\n        print(\"M an\")\n        rfdevice.tx_code(4118562, 3, 101)\n\"\"\"\n    elif state == \"Coff\":\n    #    rfdevice.tx_code(, 3, 101)\n    elif state == \"Con\":\n    #    rfdevice.tx_code(, 3, 101)\n    elif state == \"Don\":\n    #    rfdevice.tx_code(, 3, 101)\n    elif state == \"Don\":\n    #    rfdevice.tx_code(, 3, 101)\n\"\"\"\nprint(\"end\")","x":110,"y":160,"wires":[]},{"id":"350bbe45.b8b712","type":"comment","z":"ca467bd7.696988","name":"rcs-empfang.py","info":"# dieses Programm wird manuell aufgerufen um\n# die Code der fernbedienung zu erhalten\n\nimport argparse\nimport signal\nimport sys\nimport time\nimport logging\n\nfrom rpi_rf import RFDevice\n\nrfdevice = None\n\n# pylint: disable=unused-argument\ndef exithandler(signal, frame):\n    rfdevice.cleanup()\n    sys.exit(0)# GPIO PIN\n\nlogging.basicConfig(level=logging.INFO, datefmt='%Y-%m-%d %H:%M:%S',\n                    format='%(asctime)-15s - [%(levelname)s] %(module)s: %(message)s', )\n\nparser = argparse.ArgumentParser(description='Receives a decimal code via a 433/315MHz GPIO device')\nparser.add_argument('-g', dest='gpio', type=int, default=27,\n                    help=\"GPIO pin (Default: 27)\")\nargs = parser.parse_args()\n\nsignal.signal(signal.SIGINT, exithandler)\nrfdevice = RFDevice(args.gpio)\nrfdevice.enable_rx()\ntimestamp = None\nlogging.info(\"Listening for codes on GPIO \" + str(args.gpio))\nwhile True:\n    if rfdevice.rx_code_timestamp != timestamp:\n        timestamp = rfdevice.rx_code_timestamp\n        logging.info(str(rfdevice.rx_code) +\n                     \" [pulselength \" + str(rfdevice.rx_pulselength) +\n                     \", protocol \" + str(rfdevice.rx_proto) + \"]\")\n    time.sleep(0.01)\nrfdevice.cleanup()","x":100,"y":200,"wires":[]},{"id":"152f5394.cb542c","type":"inject","z":"ca467bd7.696988","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Mon","payloadType":"str","x":290,"y":620,"wires":[["3a095a8c.954aa6"]]},{"id":"3eb139a2.849746","type":"inject","z":"ca467bd7.696988","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Moff","payloadType":"str","x":290,"y":700,"wires":[["3a095a8c.954aa6"]]},{"id":"dd7241ed.fb09f","type":"ui_button","z":"ca467bd7.696988","name":"M ON","group":"9c010036.a8bd3","order":5,"width":3,"height":1,"passthru":false,"label":"Master An","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Mon","payloadType":"str","topic":"","x":290,"y":580,"wires":[["3a095a8c.954aa6"]]},{"id":"44c07d4e.c22924","type":"ui_button","z":"ca467bd7.696988","name":"M OFF","group":"9c010036.a8bd3","order":6,"width":3,"height":1,"passthru":false,"label":"Master AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Moff","payloadType":"str","topic":"","x":280,"y":660,"wires":[["3a095a8c.954aa6"]]},{"id":"67b86ffc.ac86b","type":"comment","z":"ca467bd7.696988","name":"RCSwitch codes ","info":"die einzelnen Codes der SilverCrest fernbedienung\nals Pulsläng kann immer 100 verwendet werden\nAls Protokoll immer 3\n\nA on\n\t3522588 pulsleng 101 Prot 3\nA off\n\t4118572 Pulsleng 101 Prot 3\n-----------------------\nB on\n\t4168949\nB off\n\t3995205\n-----------------------\nC on\n        4118574\nC off\n        3894126\n-----------------------\nD on\n        3649431\nD off\n        3455287\n-----------------------\nM on\n        4118562\nM off\n        3522578","x":100,"y":240,"wires":[]},{"id":"9d3f5e65.358ec8","type":"comment","z":"ca467bd7.696988","name":"A = Fernseher","info":"","x":90,"y":40,"wires":[]},{"id":"829073f7.9188f8","type":"comment","z":"ca467bd7.696988","name":"B = Licht","info":"","x":80,"y":80,"wires":[]},{"id":"30f96697.e7acba","type":"comment","z":"ca467bd7.696988","name":"M = Master","info":"","x":80,"y":120,"wires":[]},{"id":"4a5f9740.cd3a4","type":"mqtt in","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Aon","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":620,"y":80,"wires":[["3dd6f851.380ea8","aa1f2e58.696d18"]]},{"id":"c54c6678.6aba28","type":"mqtt out","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Aon","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d839e29f.e6bf","x":1180,"y":80,"wires":[]},{"id":"744acf90.d45e4","type":"change","z":"ca467bd7.696988","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Aon","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":80,"wires":[["c54c6678.6aba28"]]},{"id":"3dd6f851.380ea8","type":"switch","z":"ca467bd7.696988","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Aon","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":790,"y":80,"wires":[["744acf90.d45e4"]]},{"id":"57c6e28c.223484","type":"link in","z":"ca467bd7.696988","name":"Mqtt_RCSw","links":["aa1f2e58.696d18"],"x":795,"y":640,"wires":[["3a095a8c.954aa6"]]},{"id":"aa1f2e58.696d18","type":"link out","z":"ca467bd7.696988","name":"","links":["57c6e28c.223484"],"x":775,"y":340,"wires":[]},{"id":"580bf769.e49dd","type":"mqtt in","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Aoff","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":620,"y":120,"wires":[["d7569ec3.eb3238","aa1f2e58.696d18"]]},{"id":"b1939eae.599268","type":"mqtt out","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Aoff","qos":"0","retain":"","broker":"d839e29f.e6bf","x":1180,"y":120,"wires":[]},{"id":"1e7d1c21.68801c","type":"change","z":"ca467bd7.696988","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Aoff","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":120,"wires":[["b1939eae.599268"]]},{"id":"d7569ec3.eb3238","type":"switch","z":"ca467bd7.696988","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Aoff","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":790,"y":120,"wires":[["1e7d1c21.68801c"]]},{"id":"c9c87732.4ebba8","type":"mqtt in","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Bon","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":620,"y":160,"wires":[["e21d93ad.ddca58","aa1f2e58.696d18"]]},{"id":"cb22087.3c3d578","type":"mqtt out","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Bon","qos":"0","retain":"","broker":"d839e29f.e6bf","x":1180,"y":160,"wires":[]},{"id":"af83d1bf.91e69","type":"change","z":"ca467bd7.696988","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Bon","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":160,"wires":[["cb22087.3c3d578"]]},{"id":"e21d93ad.ddca58","type":"switch","z":"ca467bd7.696988","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Bon","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":790,"y":160,"wires":[["af83d1bf.91e69"]]},{"id":"13808f29.b119e9","type":"mqtt in","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Boff","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":620,"y":200,"wires":[["cd4ed05f.adf6d","aa1f2e58.696d18"]]},{"id":"181b56a5.685e91","type":"mqtt out","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Boff","qos":"0","retain":"","broker":"d839e29f.e6bf","x":1180,"y":200,"wires":[]},{"id":"9291a16c.11c648","type":"change","z":"ca467bd7.696988","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Boff","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":200,"wires":[["181b56a5.685e91"]]},{"id":"cd4ed05f.adf6d","type":"switch","z":"ca467bd7.696988","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Boff","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":790,"y":200,"wires":[["9291a16c.11c648"]]},{"id":"7c8eb59c.487b04","type":"mqtt in","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Mon","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","x":620,"y":240,"wires":[["e6c845a7.bdc428","aa1f2e58.696d18"]]},{"id":"7fcaefc6.0a9f9","type":"mqtt out","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Mon","qos":"0","retain":"","broker":"d839e29f.e6bf","x":1180,"y":240,"wires":[]},{"id":"3302ef49.1b959","type":"change","z":"ca467bd7.696988","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Mon","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":240,"wires":[["7fcaefc6.0a9f9"]]},{"id":"e6c845a7.bdc428","type":"switch","z":"ca467bd7.696988","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Mon","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":790,"y":240,"wires":[["3302ef49.1b959"]]},{"id":"40d83bf8.f0e6bc","type":"mqtt in","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Moff","qos":"2","datatype":"auto","broker":"d839e29f.e6bf","nl":false,"rap":false,"x":620,"y":280,"wires":[["679d0589.392394","aa1f2e58.696d18"]]},{"id":"86e161a4.a44328","type":"mqtt out","z":"ca467bd7.696988","name":"","topic":"/home/Bus/RCSw/Moff","qos":"0","retain":"","broker":"d839e29f.e6bf","x":1180,"y":280,"wires":[]},{"id":"679d0589.392394","type":"switch","z":"ca467bd7.696988","name":"","property":"Moff","propertyType":"msg","rules":[{"t":"eq","v":"Moff","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":790,"y":280,"wires":[["deef8cf.9017c7"]]},{"id":"deef8cf.9017c7","type":"change","z":"ca467bd7.696988","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Moff","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":280,"wires":[["86e161a4.a44328"]]},{"id":"c0bd8495.6e7b2","type":"comment","z":"ca467bd7.696988","name":"verbindung zu MQTT","info":"","x":610,"y":40,"wires":[]},{"id":"adba456c.4b171","type":"link in","z":"ca467bd7.696988","name":"WeckerLichtAnRes","links":["cf2e527d.e8f91"],"x":715,"y":540,"wires":[["3a095a8c.954aa6"]]},{"id":"70bec24f.7b08cc","type":"link in","z":"ca467bd7.696988","name":"WeckerConnect","links":["c58092b3.166eb"],"x":845,"y":580,"wires":[["3a095a8c.954aa6"]]},{"id":"9c010036.a8bd3","type":"ui_group","name":"Funksteckdosen","tab":"93b7b09f.8a2b7","order":1,"disp":true,"width":"6","collapse":false},{"id":"d839e29f.e6bf","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"93b7b09f.8a2b7","type":"ui_tab","name":"IO_Controll","icon":"dashboard","disabled":false,"hidden":false}]
